[submodule "submodules/nDPI"]
	path = submodules/nDPI
	url = https://github.com/emanuele-f/nDPI
[submodule "submodules/zdtun"]
	path = submodules/zdtun
	url = https://github.com/emanuele-f/zdtun
[submodule "submodules/libpcap"]
	path = submodules/libpcap
	url = https://github.com/the-tcpdump-group/libpcap
[submodule "submodules/MaxMind-DB-Reader-java"]
	path = submodules/MaxMind-DB-Reader-java
	url = https://github.com/emanuele-f/MaxMind-DB-Reader-java
