<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emanuelef.remote_capture">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- https://developer.android.com/preview/privacy/package-visibility -->
    <uses-permission-sdk-23 android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_CLIPS" />

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:banner="@drawable/banner"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AppsActivity"
            android:label="@string/apps"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.ConnectionDetailsActivity"
            android:label="@string/connection_details"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.StatsActivity"
            android:label="@string/stats"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity" />

        <service
            android:name=".CaptureService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
    </application>

</manifest>